header {color: white; font-family: 'Lato', sans-serif; background-color: #1B8C50; padding: 12px; padding-bottom: 24px;}
nav {background-color: #3E9868; margin-left: 0px;}
nav ul {list-style-type: none; margin: 0px; border: 2px solid white; border-radius: 10px; padding: 16px;}
nav ul li {color: white; font-family: 'Varela Round', sans-serif; font-weight: bold; display: inline; padding: 12px; border-right: 2px solid white; padding-right: 8px;}
nav ul li:last-child {border-right: none;}
ul {color: white;}
body {background-color: #36454f; margin: 0px;}
a:hover {color: salmon;}
a {color: white; font-family: 'Varela Round', sans-serif; text-decoration: none;}
.h {color: white; margin-block-start: 0em; margin-block-end: 0em; font-size: 64px;}
.tp {color: white; font-family: 'Varela Round', sans-serif; margin: 6%; margin-left: 25%; width: 50%; padding: 16px; border: 4px solid white; border-radius: 6px;}
.mp {color: white; font-family: 'Varela Round', sans-serif; margin: 6%; margin-left: 25%; width: 50%; padding: 0px; border: 4px solid white; border-radius: 6px;}
.imgl {padding: 0px; width: 100%; margin: 0px;}
.imgm {width: 50%; border-right: 2px solid white; display: inline;}
.imgs {}
.ph {color: white; font-family: 'Varela Round', sans-serif; font-weight: bold;}
.pl {display: inline;}
.pf {font-family: 'Varela Round', sans-serif; align: center;}
.ps {color: grey; font-family: 'Varela Round', sans-serif;}
